<div class="container mt-4">
  <div class="card mb-3">
    <div class="card-header">
      <%= @review.created_at %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @review.topic %></h5>
    </div>
  </div>
  <%= link_to "戻る", reviews_path, class: "btn btn-secondary" %>
</div>
